{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>LIST</title>
    <link rel="stylesheet" type="text/css" href="{% static 'myapp/book_list.css' %}">
</head>
<body>
    <header>
        <h1>Book list</h1>
    </header>
    <div class="container">
        <a href="{% url 'book_create' %}">ADD ITEM</a>
        <ul>
            {% for book in books %}
                <li>
                    {{ book.name }} - 
                    <a href="{% url 'book_update' book.pk %}">UPDATE</a> | 
                    <a href="{% url 'book_delete' book.pk %}">DALETE</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
